.radio {
  @apply inline-block text-sm;
}
.radio + .radio {
  @apply ml-0;
}
.radio input[type='radio'] {
  display: none;
}
.radio label {
  line-height: 22px;
  @apply inline-flex justify-center items-center cursor-pointer;
}
.radio input[type='radio'] + label span {
  width: 22px;
  height: 22px;
  vertical-align: top;
  @apply relative inline-block border rounded-full;
}
.radio input[type='radio'] + label span {
  @apply rounded-full;
}
.radio input[type='radio'] + label span::before {
  content: '';
  display: block;
}
.radio input[type='radio']:checked + label span::before {
  top: 5px;
  left: 5px;
  content: '';
  width: 10px;
  height: 10px;
  @apply absolute rounded-full text-center bg-gray-700;
}
